.bg-black{
    background-color: black;
}
.carousel-caption{
    top:300px;
}
.carousel-indicators{
    
}

.bg-orange{
    background-color:orange;color:blueviolet;font-weight: 600;text-align: center
}
.m-right{

    border-right:2px solid white;
    
}
.underline{
    width:100px;
    height: 2px;
    background-color:red;
}

.media img{
    max-width: 120px;height:auto;
}
.underline-green{
    width:70px;
    height:2px;
    background-color:lawngreen;
}